# Virtual environment
venv/
ENV/
env/
.venv/
.pyvenv/

# Django files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Media/static files
/media
/static

# VSCode and IDE files
.vscode/
.idea/

# MacOS/Windows junk
.DS_Store
Thumbs.db

# Python test cache
.pytest_cache/
.coverage

# Local config
*.env
.env.*

/docs